@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100vh;
  color: black;
  background-color: #edf1f4;
}

.link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1F2421;
  transition: width 0.5s ease, left 0.5s ease;
}

.link:hover::after {
  width: 100%;
  left: 0;
}